@CHARSET "UTF-8";

body{
	margin:0;font:12px/180%  "微软雅黑"，"宋体";
}
html,body{
	-webkit-text-size-adjust:none;background:#f7f7f7;
}
div,form,input,textarea,p,ul,li,dl,dt,dd,h1,table,h2{
	padding:0;margin:0;
}
li{
	list-style-type:none;
}
ol,ul,li{
	list-style:none;
}
input{
	vertical-algin:middle;font-size:100%;
}
img{
	vertical-algin:top;boder:0;
}
em,i{
	font-style:normal;
}
a{
	text-decoration:none;color:#666;
}
hr{
	hegiht:0;border-left:none;border-right:0;border-top:1px dashed #2d2f34;border-bottom:1px dashed #474954;
}
a:hover{
	color:#F60;text-decoration:underline;
}

/*
 * content css
 */
.content{position:relative;width:1000px;margin:0 auto 0 auto;}
/*#3a3c48这个保证了加载时图片加载不出来的时候不会空白*/
.content{padding:50px 0;min-height:720px; background:#3a3c48 url("../images/log/content-bg.png") ;width:100%;}
.content .wrapper{position:relative;background:url("../images/log/release-bg.png") no-repeat right top;width:900px;margin:0 auto;}
.content .light{background:url("../images/log/light-top.png") no-repeat top center;position:absolute;left:55px;top:-50px;width:152px;height:191px;}
.content .light i{position:absolute;width:100%;height:100%;top:0;background:url("../images/log/light.png") center top no-repeat}
.content .line-left{position:absolute;left:0;top:15px;width:70px;}
.content .line-right{position:absolute;right:0px;top:15px;width:460px;}
.content .main{background:url("../images/log/line-bg.png") repeat-y 200px 0}
.content .main .title{position:absolute;line-height:40px;padding-left:30px;left:230px;top0;color:#58a6fb;font-size:24px;background:url("../images/log/clock.png") no-repeat }
.content .main .year{position:realtive;z-index:100;}
.content .main .year h2{font-size:24px;width:170px;padding-right:30px;height:40px;line-height:40px;text-align:right;}
.content .main .year h2 a{color:#58a6fb;}
.content .main .year h2 i{display:block;position:relative;height:0;width:0;left:190px;top:-20px;border-width:6px;border-style:solid;border-color:#59a7fb transparent transparent transparent;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;-webkit-transform-origin:6px 3px;-moz-transform-origin:6px 3px;-o-transform-origin:6px 3px;transform-origin:6px 3px}
.content .main .year .list{margin:10px 0;position:relative;overflow:hidden;--webkit-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;-moz-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;-ms-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;-o-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s}
.content .main .year .list ul{bottom:0;}
.content .main .year .list ul li{background:url("../images/log/circle.png") no-repeat 235px 31px;padding:30px 0;color:#a1a4b8;}
.content .main .year .list ul li.highlight{background-image:url(http://p4.qhimg.com/d/inn/05a63fc5/circle-h.png);}

.cls:after{content:"none";visibility:hidden;height:0;display:block;clear:both;}
.content .main .year .list .cls .date{float:left;margin-left:150px;font-size:20px;color:#63d029;width:100px;line-height:32px;}
.content .main .year .list .cls .intro{color:#63d029;font-size:18px;line-height:32px;display:block;width:400px;margin-left:300px;}
.content .main .year .list .cls .more{margin-left:300px;}

.content .main .year .list .cls.highlight .date, .content .main .year .list .highlight .intro{color:#ec6a13;}
.content .main  .close.year h2 i{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);}
.content .main .close.year .list{height:0 !important;}


.content .main .year .list .cls .more .tabbox{width:180px;height:250px;color:red;background-color:white;padding:10px;float:left;margin:5px;}










